.container
    .jumbotron
        h1 Valjda će radit ovo a?
        p Dobrodošli na stranicu punu ničega, još ničega a u budućnosti možda i bude štagod

    .row
        .col-md-6
            div(ng-include="'/partials/featured-courses'")
        .col-md-6
            div(ng-include="'/partials/new-courses'")
